.ReviewList {
  display: flex;
  flex-direction: column;
  gap: 1svh;
  height: 100%;
  overflow-y: scroll; /* Allow scrolling */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.ReviewList::-webkit-scrollbar {
  display: none;
}
