.AnimeDetailPage {
  background-color: rgb(97, 112, 125);
  display: flex;
  flex-direction: row;
}
/* Pretty sure a lot of these styles should be in AnimeCard but i cba to move them and do all that testing rn */
.AnimeContainer {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  background-color: rgb(0, 136, 136);
}

.AnimeContainer .spacer {
  margin-bottom: 0.7svh;
  justify-content: space-between;
  padding-right: 0.3svw;
  padding-left: 0.1svw;
}
.AnimeTitle {
  background-color: rgb(24, 157, 164);
}

/* .AnimeContainer img {
    margin-bottom: 1svh;
    width: 100%;
  } */

.AnimeCover {
  background-color: rgb(23, 13, 0);
  width: 100%;
  height: 40svh;
  margin-bottom: 1svh;
}

.GenreLink:hover {
  cursor: pointer;
  text-shadow: 1px 2px 3px rgba(45, 42, 42, 0.351);
}

.TagWrapper {
  width: 100%;
  display: flex;
  /* For some reason justify-content isn't doing what it's supposed to do so we're gonna use gap instead */
  /* justify-content: space-between;  */
  gap: 0.5svw;
}
.TagWrapper ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3svw;
}
.TagWrapper li {
  list-style-type: none;
  background-color: rgb(125, 125, 125);
}

.TagWrapper li:hover {
  background-color: rgb(98, 98, 98);
  cursor: pointer;
}

.AnimeDetailPage .ReviewContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  background-color: rgb(155, 116, 123);
  flex-wrap: wrap;
  padding-left: 0.2svw;
}

.ReviewContainer h1 {
  margin-bottom: 3svh;
  text-align: center;
}

.Reviews {
  display: flex;
  flex-direction: column;
  gap: 1svh;
}

.AnimeDetailPage .ReviewCard {
  /* background-color: rgb(169, 156, 136); */
  display: flex;
  flex-direction: column;

  /* width:  */
}
